section{
    margin-top: 70px;
    background-color:rgb(37, 38, 39);
    width: 100%;
}

mat-divider{
    margin-left: 8px;
    margin-right: 8px;
}

.icon{
    background-color: rgb(66, 61, 61);
}
section h3{
    color: aliceblue;
    position: sticky;
    margin-top: 20px;
    padding-top: 50px;
    
}

.name, .artistName{
    color: aliceblue;
    margin: 0%;
}
#remove{
    margin-right: 10px;
}
/* mat-list-item{

} */